<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat alias reprehenderit harum sunt voluptatibus quisquam ex eligendi unde molestiae quas repellat totam, enim officiis eos nisi quos facilis, necessitatibus sint.</p>
</div>

{% schema %}
{
    "name": "Collection with Filter",
    "tag": "section",
    "class": "collection",
    "settings": [
        
    ]
}
{% endschema %}